/* line 17, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/paki/.rbenv/versions/1.9.3-p125/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
body {
  text-align: center;
  font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #222222;
  color: white;
  width: 320px;
}

@-webkit-keyframes grow {
  /* line 17, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
  0% {
    box-shadow: 0 0 1px black, 0 0 1px red, 0 0 1px #ff6464;
    text-shadow: 0 0 1px black, 0 0 1px red, 0 0 1px #ff6464;
  }

  /* line 21, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
  50% {
    box-shadow: 0 0 1px black, 0 0 15px red, 0 0 30px #ff6464;
    text-shadow: 0 0 1px black, 0 0 15px red, 0 0 30px #ff6464;
  }

  /* line 25, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
  100% {
    box-shadow: 0 0 1px black, 0 0 1px red, 0 0 1px #ff6464;
    text-shadow: 0 0 1px black, 0 0 1px red, 0 0 1px #ff6464;
  }
}

/* line 34, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap #button.workon {
  -webkit-animation-name: grow;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

/* line 38, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap {
  width: 100%;
  height: 320px;
  overflow: hidden;
}
/* line 43, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap #holder {
  -webkit-transform-origin: 20px 0;
  -webkit-transform: scale(0.5);
}
/* line 49, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap #button {
  position: relative;
  top: -502px;
  font-size: 40%;
  width: 80px;
  height: 80px;
  border: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #444444), color-stop(100%, #889999));
  background: -webkit-linear-gradient(top, #444444, #889999);
  background: linear-gradient(top, #444444, #889999);
  border-radius: 50%;
  padding: 0;
  color: white;
}
/* line 60, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap #button:after {
  content: "standy";
}
/* line 63, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap #button.workon {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #ff0000, #222222);
  background: linear-gradient(top, #ff0000, #222222);
}
/* line 66, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#wrap #button.workon:after {
  content: "workon";
}

/* line 73, /Users/paki/Sites/bootcamp/mini1/_scss/_modules.scss */
#time {
  position: relative;
  top: -50px;
}
