body {
  text-align: center;
  font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #222222;
  color: white;
  width: 320px;
}

@mixin anime($name, $duration) {
  -webkit-animation-name: $name;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;
}

@mixin grow($c1,$c2,$c3,$s1,$s2) {
    @-webkit-keyframes grow {
        0% {
            box-shadow: 0 0 1px $c3, 0 0 1px $c1, 0 0 1px $c2;
            text-shadow: 0 0 1px $c3, 0 0 1px $c1, 0 0 1px $c2;
        }
        50% {
            box-shadow: 0 0 1px $c3, 0 0 $s1 $c1, 0 0 $s2 $c2;
            text-shadow: 0 0 1px $c3, 0 0 $s1 $c1, 0 0 $s2 $c2;
        }
        100% {
           box-shadow: 0 0 1px $c3, 0 0 1px $c1, 0 0 1px $c2;
           text-shadow: 0 0 1px $c3, 0 0 1px $c1, 0 0 1px $c2;
        }
    }
}

// effects class
@include grow(rgba(255,0,0,1),rgba(255,100,100,1), rgba(0,0,0,1),15px,30px);
%grow {
  @include anime(grow, 2s);
}

#wrap {
  width: 100%;
  height: 320px;
  overflow: hidden;
  // position: relative;
  #holder {
    // width: 320px;
    // height: 320px;
    -webkit-transform-origin: 20px 0;
    -webkit-transform: scale(0.5);
  }
  #button {
    position: relative;
    top: -502px;
    font-size: 40%;
    width: 80px;
    height: 80px;
    border: none;
    @include background(linear-gradient(top,#444444,#889999));
    border-radius: 50%;
    padding: 0;
    color: white;
    &:after {
      content: "standy";
    }
    &.workon {
      @extend  %grow;
      @include background(linear-gradient(top,#ff0000,#222222));
      &:after {
        content: "workon";
      }
    }
  }
}

#time {
  position: relative;
  top: -50px;
}