// Config
$pie-behavior: url(/js/PIE.htc);

// Font
$sans-serif: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "ＭＳ Ｐゴシック", "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
$monospace:  "Monaco", "Andale Mono", monospace;

// Color
$txt: #666666;
$stxt: #999999;

$colorA_darkest: #363F46;
$colorA_dark: #4E6C78;
$colorA: #2692B8;
$colorA_light: #74B5CF;
$colorA_lightest: #C2DEDE;

$colorB_dark: #E97907;
$colorB: #FF901E;
$colorB_light: #FFB81E;

$colorC: #9EB832;

// $lightGray: #F6F6F6;
$lightGray: #EEEEEE;
$neutralGray: #D9D9D9;
$darkGray: #999999;

$link:  $colorA;
$hover: $colorA_light;

$dummy_bg: #F2F2F2;

// Size
$f10: 77%;
$f11: 85%;
$f12: 93%;
$f13: 100%;
$f14: 108%;
$f15: 116%;
$f16: 123.1%;
$f17: 131%;
$f18: 138.5%;
$f19: 146.5%;
$f20: 153.9%;
$f21: 161.6%;
$f22: 167%;
$f23: 174%;
$f24: 182%;
$f25: 189%;
$f26: 197%;
$font-size:    16px;
$icon-size:    32px;
$favicon-size: 16px;

// Layout
$columns: 16; // Number of columns
$col_width: 40px; // Column width
$gutter: 20px; // Gutter width
$cell_width: $col_width + $gutter;
$radial: 5px;